{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To WebWrap Ecommerce</p>
        </div>
    </div>

</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et placerat ipsum. Curabitur
                    blandit facilisis ullamcorper. Curabitur ut nisl in neque pellentesque placerat nec posuere diam.
                    Pellentesque lacinia, lectus sit amet dapibus varius, metus enim mollis nunc, nec maximus eros lacus
                    eu felis. Curabitur lacus ante, faucibus vitae feugiat vitae, suscipit ac nulla. Fusce eu aliquam
                    purus, vel scelerisque metus. Nam placerat rhoncus velit, a luctus leo cursus pulvinar. Etiam in
                    scelerisque eros. Sed eget eleifend ante.
                    <br /><br />
                    Etiam id faucibus tortor, vitae tempus augue. Aliquam in metus quis ante accumsan volutpat non non
                    augue. Nam enim risus, finibus eget purus vitae, finibus blandit orci. Nam egestas libero nec mi
                    faucibus congue quis at leo. Pellentesque sed tempor sapien. Sed at porttitor ante, at pharetra sem.
                    Sed ac feugiat sem. Sed quis urna a purus placerat elementum in a nibh. Suspendisse porta a neque
                    non aliquam.
                    <br /><br />
                    Nulla a purus orci. Nunc pellentesque sapien sed risus iaculis auctor. Maecenas nec magna in tortor
                    faucibus ornare in non sapien. Vestibulum diam urna, ultricies a sapien ut, tincidunt consectetur
                    ex. Duis sodales luctus suscipit. Pellentesque sit amet est vel leo malesuada fermentum. Vestibulum
                    ultrices in ex at tincidunt. Curabitur faucibus elit quis nunc tristique, eget maximus nulla
                    consectetur. Etiam mauris lacus, consequat ac posuere non, tincidunt et quam. Cras luctus tempus
                    varius. Sed id ex malesuada, sollicitudin arcu ac, sodales lacus. Maecenas auctor lacinia porttitor.
                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>
{% endblock %}